.header {
  height: 80px;
  width: 100%;
  background: #0b1429;
  display: flex;
  align-items: center;
  position: fixed;
  font-family: "Gotham SSm A", "Gotham SSm B";
  top: 0;
}

.capitolis-logo {
  height: 40px;
  margin-left: 20px;
}
