.main-component {
  height: 100%;
  padding-top: 40px;
}

.grid-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ededed;
  margin: 20px;
  flex-direction: column;
}
