.grid-toolbox {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.icon {
  height: 20px;
  margin: 5px;
  color: white;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.icon:hover {
  cursor: pointer;
  -webkit-filter: invert(0.5);
  filter: invert(0.5);
}
