.financial-units-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px;
}

.fin-unit.grid-row {
  font-size: small;
}

.grid-row {
  flex-direction: row;
  display: flex;
  width: fit-content;
  justify-content: center;
}

.grid-row:hover:not(.grid-header) {
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

.grid-cell {
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: solid thin #49b3e1;
  padding: 5px;
  height: 27px;
  width: 200px;
  font-weight: bold;
  margin: 1px;
}

.value-row {
  color: white;
}

.grid-header {
  background-color: #142f6f;
  font-weight: bold;
  color: #49b3e1;
  font-size: x-large;
}

.selected {
  background-color: darkblue;
  color: white;
}

.grid-title {
  color: #49b3e1;
  transition: opacity 500ms;
  font-size: x-large;
  font-style: oblique;
  font-family: monospace;
  opacity: 0;
}

.show {
  opacity: 1;
}
