.value-to-convert {
  padding: 5px;
  background-color: #0b1429;
  font-size: x-large;
  color: white;
  min-width: 80px;
  border-radius: 7px;
  margin-right: 10px;
}

.calculator {
  width: 470px;
  position: sticky;
  left: auto;
  justify-content: space-evenly;
  display: flex;
  left: 35%;
}

.claculator-button {
  font-size: xx-large;
  color: white;
  border: solid thin;
  border-radius: 7px;
}

.claculator-button:hover {
  cursor: pointer;
  background-color: darkblue;
}

.disabled {
  background-color: #21252f;
  border-color: #929292;
}

.calculator-selector {
  background-color: #a8abb1;
  color: black;
}
